<p>Name of current user</p>
<p>Title of user</p>
<p>Department of user</p>

<h3>Today's desk is wing/section/number</h3>

<p>Desk Schedule</p>
<p>dd/mm/yyyy-dd/mm/yyyy : wing/section/number</p>
<p>dd/mm/yyyy-dd/mm/yyyy : wing/section/number</p>