<p>Name of current user:</p>
<%= current_user.name %>
<p>Title of user:</p>
<%= current_user.title %>
<p>Department of user:</p>
<%= current_user.department %>

<h3>Today's desk is wing/section/number</h3>

<p>Desk Schedule</p>
<p>dd/mm/yyyy-dd/mm/yyyy : wing/section/number</p>
<p>dd/mm/yyyy-dd/mm/yyyy : wing/section/number</p>